html,
body,
#root {
  height: 100%;
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sindu_dragger table {
  background: transparent !important;
}

table.sindu_origin_table {
  user-select: none;
}
